a {
  color: #1774d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  font-family: Verdana;
  font-size: 16px;
  font-weight: lighter;
}

h2 {
  font-family: Verdana;
  font-size: 24px;
}

name {
  font-family: Verdana;
  font-size: 48px;
  font-weight: lighter;
}

img {
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 50px;
}

body {
  background-color: rgba(255, 166, 0, 0.01);
}
