a {
  color: #1774d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  font-family: Verdana;
  font-size: 16px;
  font-weight: lighter;
}

h1 {
  font-family: Verdana;
  font-size: 48px;
  font-weight: lighter;
  text-align: right;
}

h2 {
  font-family: Verdana;
  font-size: 24px;
}

img {
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  margin: 2vw;
}

/* .left,
.right {
  float: left;
  width: 20%; 
}

.main {
  float: left;
  width: 60%; 
}

@media screen and (max-width: 800px) {
  .left,
  .main,
  .right {
    width: 100%; 
  }
} */
